* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    flex-wrap: wrap;
}

/* Estilos del header */
.header {
    background-color: #1f2937;
    color: white;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    height: 500px;
 }

.contenedor1 {
    display: flex;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    text-decoration: none;
}

li a {
    text-decoration: none;
    color: #f9faf8;
}

.contenedor1 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
    gap: 10px;
    font-size: 24px;
    font-weight: 600;
}

.right-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 19px;
    color: #E5E7EB;
    margin-right: 20px;
}


 .contenedor2 {
    display: flex;
    justify-content: space-around;
    padding: 0 200px;
    align-items: center;
 }
 

 .parrafo1 {
    display: flex;
    height: 400px;
    width: 500px;
    gap: 13px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
    font-size: 18px;
    color: #E5E7EB;
 }

 .titulo {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
 }

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882f6;
    color:#f9faf8;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 10px;
}

 .imagen-principal {
    display: flex;
    width: 500px;
    height: 300px;
 }

 .imagen-principal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
 }
/* Fin del header */

/* Inicio estilos de los servicios */
 .servicios {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
 }

.cajas-servicios {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-top: 30px;
}

.cajas {
    width: 200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cajas img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.titulo-servicios {
    display: flex;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.parrafo-servicios {
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    font-weight: initial;
}
/* Fin de los servicios */

/* Inicio seccion cita */
.cita {
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frase-cita {
    font-family: 'light italic';
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.persona {
    font-size: 18px;
    font-weight: 600;
    color: #1f2937;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

/* Fin seccion cita */

/* Inicio footer */
.footer {
    background-color: #1f2937;
    font-size: 18px;
    color: #E5E7EB;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Fin footer */